html {
  background-color: green;
  font-size: 20px;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 50px;
  position: relative;
}

li::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -20px;
  width: 5px;
  height: 5px;
  background-color: blueviolet;
}
